<h1 class="nav_title_class">{{title}}</h1>
  <!--<div> TODO ADD SEARCH </div>-->
  <ul class="parent_level_services" >
    <li *ngFor="let parent_level_service of parent_level_services"
        [class.selected]="parent_level_service === selected_parent_level_service"
        [routerLink]="['/211Subcategories/', parent_level_service.Category_Name]"
    >
      {{parent_level_service.Category_Name}}
      <span>
        >
      </span>
    </li>
  </ul>


  <!--<child-level-services [selected_category_name]="selected_parent_level_service.Category_Name"></child-level-services>-->



