<div class="row">
  <div class="col-sm-1 back_pink_nav_column">
    <i class="fa fa-arrow-left fa-3x" aria-hidden="true" (click)="goBack()"></i>
  </div>
  <div class="col-sm-10 center_pink_nav_column">
    <h1 class="black_nav_title_class"> {{link_name}} </h1>
  </div>
  <div class="col-sm-1 burger_pink_nav_column"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>
</div>

<ul class="categroies_for_211" >
  <li *ngFor="let match_list of match_lists">
    <div *ngIf="match_list.Name_Agency != null">
      {{match_list.Name_Agency}}
      <br/>
      <span>
        <label>Name_Site</label>{{match_list.Name_Site}}
        <label>Address1</label>{{match_list.Address1}}
      </span>
      <br/>
      <span>
        <label>Address2</label>{{match_list.Address2}}
        <label>BldgLine</label>{{match_list.BldgLine}}
      </span>
      <br/>
      <span>
        <label>State</label>{{match_list.State}}
        <label>County</label>{{match_list.County}}
      </span>
      <br/>
      <span>
        <label>City</label>{{match_list.City}}
        <label>ZipCode</label>{{match_list.ZipCode}}
      </span>
      <br/>
      <span>
        <label>Number_Phone1</label>{{match_list.Number_Phone1}}
        <label>Extension_Phone</label>{{match_list.Extension_Phone}}
        <label>Note_Phone1</label>{{match_list.Note_Phone1}}
        <label>Type_Phone1</label>{{match_list.Type_Phone1}}
      </span>
      <br/>
      <span>
        <label>Number_Phone2</label>{{match_list.Number_Phone2}}
        <label>Extension_Phone2</label>{{match_list.Extension_Phone2}}
        <label>Note_Phone2</label>{{match_list.Note_Phone2}}
        <label>Type_Phone2</label>{{match_list.Type_Phone2}}
      </span>
      <br/>
      <span>
        <label>Number_Phone3</label>{{match_list.Number_Phone3}}
        <label>Extension_Phone3</label>{{match_list.Extension_Phone3}}
        <label>Note_Phone3</label>{{match_list.Note_Phone3}}
        <label>Type_Phone3</label>{{match_list.Type_Phone3}}
      </span>
      <br/>
      <span>
        <label>City</label>{{match_list.City}}
        <label>ZipCode</label>{{match_list.ZipCode}}
      </span>
      <br/>
      <span>
        <label>Note1</label>{{match_list.Note1}}
        <label>Note1_Conf</label>{{match_list.Note1_Conf}}
      </span>
      <br/>
      <span>
        <label>Note2</label>{{match_list.Note2}}
        <label>Note2_Conf</label>{{match_list.Note2_Conf}}
      </span>
      <br/>
      <span>
        <label>email</label>{{match_list.email}}
        <label>url</label>{{match_list.url}}
      </span>
      <br/>
      <span>
        <label>PEmail</label>{{match_list.PEmail}}
        <label>PUrl</label>{{match_list.PUrl}}
      </span>
      <br/>
      <span>
        <label>Note2</label>{{match_list.Note2}}
        <label>LUrl</label>{{match_list.LUrl}}
      </span>
      <br/>
      <span>
        <label>LEmail</label>{{match_list.LEmail}}
        <label>Note2_Conf</label>{{match_list.Note2_Conf}}
      </span>
      <br/>
      <span>
        <label>ServiceGroup</label>{{match_list.ServiceGroup}}
        <label>Program1</label>{{match_list.Program1}}
      </span>
      <br/>
      <span>
        <label>Agency_Key</label>{{match_list.Agency_Key}}
        <label>Site_Key</label>{{match_list.Site_Key}}
      </span>
      <br/>
      <span>
        <label>Service_ID</label>{{match_list.Service_ID}}
        <label>Location_ID</label>{{match_list.Location_ID}}
      </span>
      <br/>
      <span>
        <label>ServiceSite_ID</label>{{match_list.ServiceSite_ID}}
        <label>MLPriority</label>{{match_list.MLPriority}}
      </span>
      <br/>
      <span>
        <label>Distance</label>{{match_list.Distance}}
        <label>InCity</label>{{match_list.InCity}}
      </span>
      <br/>
      <span>
        <label>InZIP</label>{{match_list.InZIP}}
        <label>Record_Owner</label>{{match_list.Record_Owner}}
      </span>
      <br/>
      <span>
        <label>Latitude</label>{{match_list.Latitude}}
        <label>Longitude</label>{{match_list.Longitude}}
      </span>
    </div>
  </li>
</ul>
